@import "tailwindcss";

#hero{
    background-image: url("../public/unsplash_2gDwlIim3Uw.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
}

.active{
    @apply underline underline-offset-2
}