@import "tailwindcss";


* {
    color: white;
}



#office {
    @apply bg-[url('../img/office_.png')] w-full h-[415px] bg-center
}



#services button{
    background-color: transparent;
    border: solid 2px white;
}
i{
    font-size: 10px !important;
    padding: 5px 5px !important;
    width: 30px !important;
}









/* nav list */

.nav-list {
    @apply flex gap-x-9 items-center max-lg:hidden
}

/* CARDS */
.cards {
    @apply flex w-[2220px]
}

.card {
    @apply relative w-full border-2 h-[509px] p-8 flex flex-col items-start justify-between
}

/* descriptions */

#bottom-description, #description {
    @apply pl-[100px] w-full max-[1240px]:h-[800px]
}

/* FONTS  */

h2 {
    @apply text-[16px]
}
a{
    @apply capitalize
}

/* input  */


.input-style {
    @apply border-2 rounded-full px-2 h-11
}


/* FOOTER */

.footer-navigations-box {
    @apply flex flex-col gap-y-2.5
}



/* button */

.btn-group {
    height: 42px;
    opacity: 1;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: blue;
    border-radius: 50px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
}